* {
	box-sizing: border-box;
}
#root {
	flex: 1;
}

body {
	font-family: "Outfit";
}

img {
	width: 100%;
	object-fit: cover;
}

section {
	padding-block: 3rem;
}

.footer-outer-wrapper {
	margin-top: auto;
	position: relative;
	width: 100%;
	padding-block: 3rem;
}

.cards-wrapper-inner {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	gap: 1rem;
}

.product-image-wrapper {
	display: flex;
	width: 100%;
}

.product-image {
	object-fit: cover;
	width: 100%;
	max-height: 20rem;
	aspect-ratio: 1;
}

.container {
	display: flex;
	max-width: 1280px;
	margin: 0 auto;
}

.single-product-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.hero-inner-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.hero-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	place-items: center;
	justify-content: center;
}

.hero-h2 {
	text-align: center;
	margin-bottom: 2rem;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
}

nav > ul {
	display: flex;
	width: 100%;
	flex-direction: row;
	gap: 4rem;
	align-items: center;
}
.nav {
	position: relative;
}

.cart-icon {
	width: 2rem;
	cursor: pointer;
	position: relative;
}

.cart-wrapper {
	position: absolute;
	top: 2rem;
	right: 0;
	background-color: rgb(252, 252, 252);
	border-radius: 1em;
	padding: 1rem;
	border: 1px solid black;
}

.cart-count {
	position: absolute;
	top: -1.5rem;
	right: -2rem;
	color: white;
	background-color: red;
	border-radius: 50%;
	padding-inline: 0.5rem;
}

.cart-inner {
	max-height: 25rem;
	overflow-y: scroll;
	min-width: 15rem;
	scrollbar-width: thin;
}

.cart-header {
	font-size: 1.4rem;
}

.cart-item {
	border-bottom: solid 1px black;
	margin-bottom: 1rem;
}

.remove-item {
	margin-bottom: 0.5rem;
	padding: 0.25rem;
	border-radius: 0.5em;
	color: white;
	background-color: rgba(255, 0, 0, 0.646);
}

.cart-image {
	width: 2.5rem;
}

.cart-total {
	font-size: 1.25rem;
	font-weight: 700;
}

.checkout-btn {
	padding: 0.75rem;
	background-color: antiquewhite;
}

.checkout-message {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	place-items: center;
}
.checkout-container {
	display: flex;
	flex-direction: column;
	min-height: 80vh;
}

.checkout-cart-container {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.checkout-cart-item {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	border: 1px solid black;
	padding: 0.5rem;
	border-radius: 1em;
}

.checkout-cart-image {
	width: 10rem;
	height: 15rem;
	object-fit: cover;
	aspect-ratio: 1;
}

.item-info {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	margin-left: 2rem;
}

.item-description {
	max-width: 30ch;
}

.purchase-btn {
	max-width: 150px;
	padding-inline: 2rem;
	padding-block: 1rem;
	background-color: green;
	color: white;
	align-self: center;
	margin-top: 2rem;
}
